body {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ant-tabs-nav {
    margin: 0 !important;
}

.section-item {
    width: 100%;
    margin-top: 10px;
}

.container {
    width: 50%;
    margin: auto;
}

.form {
    width: 100%;
}

.form>.title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.op-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.op-icon:hover {
    color: #1677ff;
}

.op-icon+.op-icon {
    margin-left: 4px;
}

.op-list>li {
    line-height: 28px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    padding: 0 6px;
}

.op-list>li:hover {
    color: #1677ff;
}

.no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

.suggest-text {
    cursor: pointer;
    color: #1677ff;
}

.no-data-text {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
}

.section {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}

.section>.section-title {
    font-size: 14px;
    padding: 14px;
    font-weight: bold;
}

.section>.section-body {
    border-top: 1px solid #d9d9d9;
    padding: 14px;
}

.section+.section {
    margin-top: 10px;
}

.input-desc,
.section-title-desc {
    font-size: 13px;
    color: gray;
    margin-top: 6px;
    line-height: 20px;
    word-break: break-all;
}

.checkbox-desc {
    font-size: 13px;
    color: gray;
    line-height: 20px;
    word-break: break-all;
    padding-left: 24px;
}

.input-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.input-item+.input-item {
    margin-top: 16px;
}

.radio-option-desc,
.checkbox-option-desc {
    font-size: 13px;
    padding-left: 24px;
    color: gray;
    margin-bottom: 6px;
}

.container>.header {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-btn-line {
    border-top: 1px solid #d9d9d9;
    margin-top: 10px;
    padding-top: 6px;
}

.input-name {
    margin-bottom: 6px;
}

.input-ul {
    width: 100%;
}

.input-ul>li {
    width: 100%;
    font-size: 14px;
}

.input-ul>li+li {
    margin-top: 10px;
}

.info-list {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.info-list>li {
    width: 20%;
}

.info-name {
    line-height: 32px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    font-weight: bold;
    padding-left: 8px;
}

.info-value {
    font-size: 14px;
    padding: 8px;
    line-height: 16px;
    word-break: break-all;
}

.switch-text {
    color: white;
    margin-left: 12px;
    font-size: 12px;
    cursor: pointer;
}

.switch-text:hover {
    color: #1677ff;
}

.sticky-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.inline-flex-center {
    display: inline-flex;
    align-items: center;
}

.tag-commit-msg>.v-md-editor--preview>.v-md-editor__right-area>.v-md-editor__main>.v-md-editor__preview-wrapper>.scrollbar>.scrollbar__wrap>.scrollbar__view>.v-md-editor-preview>.github-markdown-body {
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    word-wrap: break-word;
}